
.about__container{
    width: auto;
    height: 160vh;
    background-position: center center;
    background-size: cover;
    background-image: 
        linear-gradient(rgba(255,255,255,.7), 
        rgba(255,255,255,.7)),
        url('../../assets/img/businessman.jpeg');
    background-attachment: fixed;
}
.about__content{
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.about__tittle{
    padding-top: 10%;
    padding-bottom: 5%;
}
.about__tittle h1{
    color: $primary;
    text-align: center;
    font-size: 2.5rem;
}
.about__info{
    padding: 0 10% 10% 10% ;
}
.about__info p{
    text-align: justify;
    font-size: 1rem;
    color: $secondary;
}

/*Media*/

@media screen and (min-height: 750px) {
    .about__container{
        height: 100vh;
    }
}
@media screen and (min-width: 600px) {
    .about__container{
        height: 120vh;
    }
    .about__info p{
        text-align: center;
        padding-bottom: 5vh;
        font-size: 1.1rem;
    }
}
@media screen and (min-width: 800px) {
    .about__container{
        height: 100vh;
    }
}