
.nav-link{
    color: $tertiary !important;
    font-family: Helvetica !important;
}
.nav-link:hover{
    color: $primary !important;
}
.navbar-brand{
    margin: 0px !important;
}
.margin_right{
    margin-right: 15vw;
}
