.acordeon__container{
    margin: 15px;
    background: $light;
    height: 100%;
}
.acordeon__content{
    overflow: hidden;
    max-height: 0;
    transition: all .2s ease;
}
.acordeon__content p{
    text-align: justify;
    font-family: $font-tittle;
}

section a{
    text-decoration: none;
    color: $primary;
    display: block;
    text-align: center;
    padding: 10px;
    background: darken($color: $secondary, $amount: 20);
    border: 1px solid $light;
}

section:target .acordeon__content{
    max-height: 100%;
    padding: 10px;
}
.acordeon__tumb__chart img, .acordeon__chart img{
    width: 100%;
    padding: 10px;
    &:hover{
        border: 1px $primary solid;
    }
}
.acordeon__chart__tittle h3{
    font-family: $font-tittle;
    text-align: center;
    font-size: 2rem;
}
.acordeon__details{
    text-align: justify;
    background: #FCF5F5;
}
.acordeon__details h4{
    text-align: center;
    font-family: $font-tittle;
    font-size: 2rem;
    color: $primary
}
.acordeon__details p{
    padding: 0 5px;
}
.acordeon__other__details{
    background: #FCF5F5;
    margin-top: 5px;
}
.acordeon__other__details h4{
    background: darken($color: $secondary, $amount: 20);
    padding: 5px;
    text-align: center;
    color: $light;
    font-family: $font-tittle;
}
.acordeon__other__details p{
    padding: 5px;
    text-align: justify;
}