

//colors
$primary: #4883AF;
$secondary: #807373;
$tertiary: #707070;
$light-gray: #f0f0f0;
$light: #cccccc;

//typography
$font-text: Arial, Helvetica, sans-serif;
$font-tittle: 'PT Sans Narrow', sans-serif;